body {
    background-color: black;
    background-image: url("http://homer.stuy.edu/~jchirinos/JaJaSWebsite/sd.png");
    font-family: "Georgia", "Comic Sans MS", sans-serif;
}

.jajas {
    color: rgba(170, 255, 170, 0.9);
    font-size: 150px;
}

.by {
    color: white;
    font-size: 12px;
}

.desc {
    color: rgb(255, 160, 0);
    font-size: 30px;
    width: 90%;
}

.hidden {
    font-size: 8px;
}