body {
    background: rgb(220, 255, 255);
    background: linear-gradient(rgb(200, 255, 150), rgb(255, 200, 150)); /* Standard syntax */
    font-family: "Georgia", "Comic Sans MS", sans-serif;
}

.jajas {
    color: rgba(170, 255, 170, 0.9);
    text-shadow:
        1px 1px #000,
        1px -1px #000,
        -1px 1px #000,
        -1px -1px #000;
    font-size: 150px;
}

.by {
    font-size: 12px;
}

.desc {
    color: orange;
    text-shadow:
        1px 1px #000,
        -1px 1px #000,
        1px -1px #000,
        -1px -1px #000;
    font-size: 30px;
    width: 90%;
}

.hidden {
    font-size: 8px;
}